# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.env

# Environment variables
.env.*

# IDE
.vscode/
.idea/

# Testing
.pytest_cache/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Alembic
alembic/versions/__pycache__/